@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but allow scrolling */
.custom-scroll::-webkit-scrollbar {
  display: none; /* For Chrome, Safari */
}

.custom-scroll {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE/Edge */
}

@layer base {
  .prose {
    @apply max-w-none leading-none !important;
  }
  .prose a {
    @apply text-blue-600 no-underline;
  }
  .prose a:hover {
    @apply text-blue-800;
  }

  .prose code::before,
  .prose code::after {
    content: none;
  }
}
