@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but allow scrolling */
/* For Chrome, Safari */

.custom-scroll::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
/* For IE/Edge */

.custom-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@layer base {
  .prose {
    @apply max-w-none leading-none !important;
  }
  .prose a {
    @apply text-blue-600 no-underline;
  }
  .prose a:hover {
    @apply text-blue-800;
  }

  .prose input[type='checkbox'] {
    vertical-align: middle; /* aligns checkbox vertically */
    margin-top: 0; /* reset any margin pushing it down */
    margin-bottom: 0;
    position: relative;
    top: 1px; /* fine-tune vertical position */
  }

  .prose code::before,
  .prose code::after {
    content: none;
  }
}
