@tailwind base;
@tailwind components;
@tailwind utilities;

.react-markdown-editor-lite,
.react-markdown-editor-lite .editor-wrapper,
.react-markdown-editor-lite .editor-content {
  border: none !important;
}

.react-markdown-editor-lite .editor-wrapper {
  border: 0px !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.react-markdown-editor-lite .editor-content > * {
  color: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
}

.dark .react-markdown-editor-lite .editor-content {
  color: #fcfcfc;
}

.dark .react-markdown-editor-lite .editor-wrapper {
  background-color: #333; /* Dark background in dark mode */
}

/* Hide scrollbar but allow scrolling */
.custom-scroll::-webkit-scrollbar {
  display: none; /* For Chrome, Safari */
}

.custom-scroll {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE/Edge */
}
